/**--------------------------------------------------------------
 * filename : customSelect.css
 * author : Choung Yunsik
 * Detail : Cross Browsing Custom Input Items
--------------------------------------------------------------*/
@CHARSET "UTF-8";
.cst-select{ 
	position: relative;
	display: inline-block;
	border: 1px #d5d5d5 solid;
	text-align: left;
	background: #fff;
	cursor: pointer;
	vertical-align: middle;
	background-image: url('./custom-select-images/down.png');
	background-position: right 1.5rem center;
	background-repeat: no-repeat;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	padding: 0rem 3.5rem 0rem 1rem;
	height: 3rem;
	line-height: 3rem;
	overflow: hidden;
}
.cst-select:focus{border-color: #5ba89c;}
.cst-select:hover,
.cst-option .cst-option-lst.focus,
.cst-option .cst-option-lst:hover{background-color: #fcfcfc;}
.cst-select select{
	position: absolute; 
	opacity: 0; 
	top: -9999px;
	left: -9999px;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.cst-select .cst-label{
	position: relative;
	width: 100%;
	display: inline-block;
	float: left;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cst-option{
	background: #fff;
	border: 1px #dadada solid;
	display: none;
	line-height: 1rem;
	color: inherit;
	max-height: 40rem;
	overflow-y: auto;
	cursor: pointer;
}
.cst-option .cst-option-lst{
	position: relative;
	text-align: left;
	padding: 1rem 1.5rem;
}